@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  /* ----- Mobile menu ----- */

  .mob-contacts-link:focus {
    font-size: 36px;
  }

  /* ----- Hero ----- */

  .overlay {
    max-width: 768px;

    padding-bottom: 108px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg-tablet.jpg");
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg-tablet-2x.jpg");
    }
  }
  .hero-title {
    max-width: 494px;
    margin-bottom: 40px;

    font-size: 48px;
    line-height: 1.07;
  }

  /* ----- Modal window ----- */

  .modal {
    width: 392px;
  }
}